<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790842483156-n9ro9aehf5unuj5p9dv1gpeljd30j9fq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790842483156-n9ro9aehf5unuj5p9dv1gpeljd30j9fq</string>
	<key>API_KEY</key>
	<string>AIzaSyAgPTphi3-bLEe2eknV8YcLBQjvs8aVgAE</string>
	<key>GCM_SENDER_ID</key>
	<string>790842483156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dkg3.PortableClasses</string>
	<key>PROJECT_ID</key>
	<string>portable-classes</string>
	<key>STORAGE_BUCKET</key>
	<string>portable-classes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790842483156:ios:75a76f1611369057</string>
	<key>DATABASE_URL</key>
	<string>https://portable-classes.firebaseio.com</string>
</dict>
</plist>